<div *ngIf="team">
  <h3>{{ team.name }}</h3>
  <div>
    <table>
      <thead>
        <th>Name</th>
        <th>Number</th>
        <th>Position</th>
        <th>Shoots</th>
        <th>Condition</th>
        <th>Injured</th>
        <th>Intensity</th>
        <th>Speed</th>
        <th>Strength</th>
        <th>Endurance</th>
        <th>Durability</th>
        <th>Discipline</th>
        <th>Skating</th>
        <th>Passing</th>
        <th>Puck Control</th>
        <th>Defense</th>
        <th>Scoring</th>
        <th>Experience</th>
        <th>Leadership</th>
      </thead>
      <tbody>
        <tr *ngFor="let player of team.proPlayers">
          <td>{{ player.name }}</td>
          <td>{{ player.number }}</td>
          <td>{{ player.position }}</td>
          <td>{{ player.shoots }}</td>
          <td>{{ player.condition }}</td>
          <td>{{ player.injured }}</td>
          <td>{{ player.intensity }}</td>
          <td>{{ player.speed }}</td>
          <td>{{ player.strength }}</td>
          <td>{{ player.endurance }}</td>
          <td>{{ player.durability }}</td>
          <td>{{ player.discipline }}</td>
          <td>{{ player.skating }}</td>
          <td>{{ player.passing }}</td>
          <td>{{ player.puckControl }}</td>
          <td>{{ player.defense }}</td>
          <td>{{ player.scoring }}</td>
          <td>{{ player.experience }}</td>
          <td>{{ player.leadership }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <button (click)="goBack()">Back</button>
</div>
